:root {
    --blackColor: #263238;
    --blueGrayColor: #90a4ae;
}

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, li {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: var(--blackColor);
    padding-left: 21px;
}

.header {
    margin-top: 13px;
    margin-right: 13%;
    margin-bottom: 13px;

    display: flex;
    justify-content: space-between;

}

.header__navigation {
    width: 34%;
}

.nav__list {
    width: 100%;
    margin-left: 55%;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: repeat(3, minmax(min-content, 1fr));

    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__icon {
    font-size: 13px;
}

.title__container {
    width: 100%;
    height: 57vw;

    font-size: 89px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background-image: url(https://i.pinimg.com/564x/23/9d/18/239d18d67b30018d42a508fc3dca60d7.jpg);
    background-size: cover;
    
    margin-bottom: 55px;
}

.blog__section {
    position: relative;
    padding-right: 89px;
    padding-left: 144px;

    width: 100%;
}

.blog__nav {
    position: absolute;

    background-color: transparent;

    top: 0;
    right: 0;

    height: 100%;

    width: 60px;

    /* margin-left: 0;
    margin-right: 0;

    margin: 0 auto; */
}

.blog__nav-list {
    display: grid;
    grid-auto-flow: column;

    grid-gap: 13px;

    transform: rotate(90deg);

    text-transform: uppercase;

    font-size: 8px;

    /* font-weight: bold; */

    margin-top: 21px;
}

.blog__header {
    margin: 0 auto;
    text-align: center;

    margin-bottom: 55px;
}

.blog__title {
    text-transform: uppercase;
    margin-bottom: 21px;
}

.blog__grid {
    display: grid;
    grid-template-rows: auto;

    grid-gap: 55px;

    place-items: center;
}

.blog__article {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 144px;
    width: 100%;

    justify-items: center;
}

.blog__body p {
    font-size: 13px;
    line-height: 1.4;
    text-align: justify;
    color: var(--blueGrayColor);
}

.blog__body p::first-letter {
    font-size: 47px;
    float: left;

    line-height: .7;

    margin-right: 3px;
    /* padding-bottom: 3px; */
    padding: 0;

    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.blog__body p::first-line {
    line-height: 1.3;
}

.blog__picture {
    width: 100%;
    height: 100%;
    
    background-color: red;
}

.blog__body .left-column {
    margin-right: 34px;
}

.blog__body .blog__article:first-child {
    height: 36vw;
}

.head__info span{
    display: block;
    text-align: center;

    margin-bottom: 34px;
}

.head__info .blog__date{
    font-size: 12px;
    font-weight: bold;

    padding-top: 47px;
}

.head__info .text__divider {
    font-size: 21px;
}

.text__box {
    border: 1px solid black;
    padding: 5px 8px;
    font-size: 8px;

    text-transform: uppercase;
}

.blog__article:first-child .blog__picture {
    background-image: url(https://i.pinimg.com/564x/67/09/ee/6709ee48f86d860e6ced8532a1e1ede4.jpg);
    background-size: cover;
}

.blog__article:nth-child(2) {
    height: 35vw;
}

.blog__article:nth-child(2) .blog__picture {
    background-image: url(https://i.pinimg.com/564x/53/63/77/536377fcc4211eacd9cdb5c863153746.jpg);
    background-size: cover;
}

.blog__article:nth-child(2) p {
    padding-left: 34px;
    padding-top: 50px;
}

.blog__article:nth-child(3) {
    place-items: center;
    height: 30vw;
    padding-right: 34px;
}

.blog__article:nth-child(3) p {
    margin: 0 auto;
    padding-top: 89px;
}

.blog__article:nth-child(3) .blog__picture {
    margin-left: 89px;
    background-image: url(https://i.pinimg.com/564x/c5/c4/98/c5c498fa94c0cb793a3f121a52d8832f.jpg);
    background-size: cover;
}

.footer {
    margin-top: 89px;
    margin-bottom: 55px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    align-items: center;


}


.footer__title {
    text-transform: uppercase;
}

.footer .footer__email-field {
    justify-self: center;
    padding: 0px 5px;
    padding-bottom: 5px;
    
    border-bottom: 1px solid var(--blackColor);
}

.footer__email-field .email__arrow {
    font-size: 8px;
}

.footer__email-field input {
    border: none;
    color: var(--blackColor);
}

.footer__email-field input::placeholder {
    color: var(--blackColor);
    text-transform: uppercase;
    font-size: 8px;
}

.footer__email-field input:focus {
    outline: none;
}

.footer__email-field button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 600;
    cursor: pointer;
}

.footer__email-field button:focus {
    outline: none;
}


.footer__social {
    margin-right: 13%;
    justify-self: end;
}

.footer__social .social__item:not(:last-child) {
    margin-right: 13px;
}

.footer__social .social__item {
    font-size: 13px;
}



